<!DOCTYPE html>
<html>
<style>
.flex_container {
    display: flex;
}
.flex_child {
    flex: 1;
    border: 2px
}

.flex_child:first-child {
    margin-right: 20px;
}
</style>

<nav>
<%= render partial: 'layouts/merchants_header', locals: { merch_name: @merchant.name, merch_id: @merchant.id }%>
</nav>


<h1> Bulk Discounts: </h1>

<%@merchant.bulk_discounts.each do |discount|%>
  <div id = "bulk_discounts-<%=discount.id%>">
    <p><b><%=link_to "Discount: #{discount.id}", merchant_bulk_discounts_path(@merchant, discount)%></b>&nbsp&nbsp&nbsp&nbsp
    <%="Percentage Discount: %#{discount.percentage_discount}"%>&nbsp&nbsp&nbsp&nbsp
    <%="Quantity Needed: #{discount.quantity_threshold} ct."%>
    <%= button_to 'Delete', "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
    </p>
  </div>
<%end%><br>

<p><%=link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %></p>
